.callout-auth {
  background-color: $light-blue;
  border: 1px solid $light-blue-border;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;

  h3, p {
    margin-bottom: 2rem;
  }

  .button {
    padding: 0.75rem ;
  }

  .button:first-child {
    margin-right: 1.5rem;
  }

  .button {
    border-radius: $default-radius;
  }

}

.login-border {
  border: 2px solid $light-blue-border;
  border-radius: $default-radius;
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 2rem;
}
